.product {
  display: flex;
  margin-bottom: 5rem;
}

.img {
  max-width: 66.6%;
  width: 100%;
  margin-right: 7.6rem;
  position: relative;
}

@media (width < 900px) {
  .img {
    margin-right: 2.5rem;
  }
}

.content {
  flex: 1 1 33.3%;
}

.title {
  font-size: 2.5rem;
  margin: 0 0 2rem;
}

.price {
  font-size: 1.8rem;
  font-weight: 500;
}

.description {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

@media (width <= 767px) {
  .img {
    margin-right: 0;
    max-width: 100%;
  }

  .product {
    flex-direction: column;
  }
}
