.button {
  margin: 0 auto;
  margin-top: 50px;
  width: 370px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 113.9%;
}

.link-wrapper {
  margin-top: 1rem;
}

.link-wrapper a {
  transition: 0.3s ease;
  cursor: pointer;
}

.link-wrapper a:first-child {
  padding-right: 1rem;
}

.link-wrapper a:last-child {
  padding-left: 1rem;
}

.link-wrapper a:hover {
  color: var(--color-gray-primary);
}

.country {
  text-align: left;
}

.login {
  font-weight: 600;
  transition: 0.3s;
  position: relative;
}

.login::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-black);
  transition: width 0.5s;
}

.login:hover::before {
  width: 100%;
}

.login:hover {
  color: #5e5c5c;
}

.login:active {
  color: var(--color-black);
}

.subheading {
  margin: 0;
  margin-bottom: 0.5rem;
}

.subheading_billing {
  margin-top: 1.2rem;
}

@media (width <= 480px) {
  .button {
    width: 260px;
    height: 48px;
    letter-spacing: 0.33px;
  }

  .country {
    margin: 1rem 0;
  }

  .subheading {
    margin-top: 10px;
  }
}
