.button {
  margin: 0 auto;
  margin-top: 50px;
}

.button:hover {
  background-color: red;
  border: none;
}

.link-wrapper {
  margin-top: 1rem;
}

.link-wrapper a {
  transition: 0.3s ease;
  cursor: pointer;
}

.link-wrapper a:first-child {
  padding-right: 1rem;
}

.link-wrapper a:last-child {
  padding-left: 1rem;
}

.link-wrapper a:hover {
  color: var(--color-gray-primary);
}

.country {
  text-align: left;
}
