.button {
  margin: 0 auto;
  margin-top: 50px;
  width: 370px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 113.9%;
}

.link-wrapper {
  margin-top: 1rem;
}

.link-wrapper a {
  transition: 0.3s ease;
  cursor: pointer;
}

.link-wrapper a:first-child {
  padding-right: 1rem;
}

.link-wrapper a:last-child {
  padding-left: 1rem;
}

.link-wrapper a:hover {
  color: var(--color-gray-primary);
}

.country {
  text-align: left;
}

@media (width <= 480px) {
  .button {
    width: 260px;
    height: 48px;
    letter-spacing: 0.33px;
  }
}
