.product-list {
  margin-top: 4rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 32rem);
  grid-auto-rows: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 6rem;
}

.not__found__product {
  grid-column: 1 / -1;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-gray-dark);
}

.observer {
  height: 50px;
  background: red;
}
