.creator-img {
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: span 3;

  @media (width <= 480px) {
    width: 20rem;
    height: 20rem;
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }
}

.creator-img-alexey {
  object-fit: cover;
  object-position: 50% 0;
}

.creator {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: min-content 1fr min-content;
  background-color: var(--color-black);
  border-radius: 2rem;
  padding: 2rem;
  column-gap: 1.5rem;

  @media (width <= 480px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    column-gap: 0;
    row-gap: 1rem;
    justify-items: center;
    text-align: center;
  }
}

.creator:not(:last-child) {
  margin-bottom: 2rem;
}

.creator-title {
  color: var(--color-white);
  grid-column: 2 / 2;
  grid-row: 1 / 2;

  @media (width <= 480px) {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
  }
}

.creator-description {
  color: var(--color-white);
  grid-column: 2 / 2;
  grid-row: 2 / 3;

  @media (width <= 480px) {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
    margin: 0;
  }
}

.creator-link {
  color: var(--color-white);
  grid-column: 2 / 2;
  grid-row: 3 / 3;
  margin-top: auto;

  @media (width <= 480px) {
    grid-column: 1 / 1;
    grid-row: 4 / 5;
  }
}

.school {
  display: flex;
  align-items: center;
}

.title {
  margin-bottom: 0;
}

.about {
  margin-top: 0;
}
