.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% / 3);
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 1rem;
}

.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

.right {
  display: flex;
  column-gap: 75px;
  width: calc(100% / 3);
}

.nav-btns {
  display: flex;
  align-items: center;
  column-gap: 2.22rem;
}

.nav-btns a img {
  transition: 0.3s;
}

.nav-btns a:hover img {
  transform: scale(1.1);
}

.logo {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

.search {
  outline: 0;
  border: none;
  border-bottom: 1px solid #dadada;
  background-image: url("@assets/img/search.svg");
  background-repeat: no-repeat;
  padding-left: 2.5rem;
  padding-bottom: 5px;
}

.search::placeholder {
  color: #dadada;
}
