:root {
  --bg: #fff;
  --color-black: #2d2d2d;
  --color-gray-primary: #dadada;
  --color-gray-secondary: #cecece;
  --color-white: #fff;
  --color-black-secondary: #000;
  --radius-10: 0.1rem;
  --color-red: #c21414;
  --color-blue: #2684ff;
  --color-gray-light: #f5f4f4;
}
