.addresses-wrapper {
  margin: 5rem 0;
}

.addresses-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.addresses-add-button {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.03em;
  font-style: italic;
  font-weight: 200;
  text-decoration: underline solid 0.15rem;
  text-underline-offset: 0.5rem;
  border: none;
  background-color: transparent;
  margin-left: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.addresses-title {
  display: inline-block;
  font-weight: 400;
  margin: 3rem 0 4rem;
}
