.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 2.5rem;

  @media (width < 1175px) {
    margin: 0 -3rem;
    border-radius: 0;
  }
}

.home-wrapper {
  position: relative;
  filter: contrast(100%) grayscale(100%) invert(25%);
  width: 100%;
}

.home-wrapper::after {
  content: "WELCOME TO CLOTHBERRY";
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-white);
  font-size: 3rem;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  text-align: center;
}
