.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @media (width < 1175px) {
    margin: 0 -3rem;
  }
}

.home-wrapper {
  position: relative;
  filter: contrast(100%) grayscale(100%) invert(25%);
  width: 100%;
}

.home-wrapper::after {
  content: "WELCOME TO CLOTHBERRY";
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-white);
  font-size: 3rem;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  text-align: center;
}

.promo__title {
  text-align: right;
}

.promo__list {
  display: grid;
  justify-content: end;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo__list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-color: var(--color-gray-light);
  border-radius: 6px;
  padding: 10px;
}

.promo__code {
  font-size: 2rem;
  font-weight: 600;
}

@media (width < 450px) {
  .promo__title {
    font-size: 2rem;
  }

  .promo__list__item {
    gap: 10px;
  }

  .promo__code {
    font-size: 1.3rem;
  }

  .promo__label {
    font-size: 1.2rem;
  }
}
